:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.container {
  margin: auto 5rem;
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.logo {
  width: 5rem;
  margin-right: 2rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search_input {
    margin-right: -3.5rem;
    padding: .9rem 4rem;
    width: 80%;
    background: var(--color-grey-light-2);
    border-radius: 2rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    transition: all .2s; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background: var(--color-grey-light-3); }
    .search_input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search_btn {
    border: none;
    background: none;
    cursor: pointer; }
    .search_btn:focus {
      outline: none; }
  .search_icon {
    height: 2rem;
    width: 2rem;
    border: none;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background: var(--color-grey-light-2); }
  .user-nav_icon_box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3); }
  .user-nav_notification {
    font-size: .8rem;
    font-weight: 800;
    height: 1.75rem;
    width: 1.75rem;
    background: var(--color-primary);
    color: #fff;
    padding: .25rem;
    border-radius: 70%;
    text-align: center;
    position: absolute;
    top: .9rem;
    right: 1.5rem; }
  .user-nav_user-photo {
    width: 3.5rem;
    border-radius: 50%; }
  .user-nav_user {
    display: flex;
    align-items: center; }
    .user-nav_user span {
      font-weight: 800;
      color: var(--color-grey-dark-3);
      margin-left: 1rem; }

.active {
  background: var(--color-primary); }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem; }
  .side-nav > * {
    padding: 2.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem; }
    .side-nav > * a {
      text-decoration: none;
      color: #fff; }
  .side-nav_item {
    position: relative; }
    .side-nav_item:not(:last-child) {
      margin-bottom: .5rem; }
    .side-nav_item:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .side-nav_item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: var(--color-primary-light);
    transform: scaleY(0);
    transition: transform 0.2s, width cubic-bezier(1, -0.01, 0.07, 1) 0.4s 0.2s; }
  .side-nav_active {
    background: var(--color-primary-light); }
  .side-nav_link {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
  .side-nav_icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }

.legal {
  font-size: 1.25rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

.gallery {
  display: flex; }
  .gallery_photo {
    width: calc(100% + 1.5rem); }

.overview {
  display: flex;
  margin-top: -.35rem;
  align-items: center;
  background: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview_heading {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    letter-spacing: 3px;
    font-weight: 300; }
  .overview_stars {
    display: flex;
    margin-right: auto; }
  .overview_stars_icon-star, .overview_icon-location {
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview_icon-location {
    margin-right: .5rem; }
  .overview_location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
  .overview_rating {
    background: var(--color-primary);
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview_rating-average {
    font-size: 2.25rem;
    font-weight: 800; }
  .overview_rating-count {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500; }

.location_inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 5px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .location_inline:hover {
    color: var(--color-grey-dark-1); }
  .location_inline:focus {
    outline: none;
    animation: pulsate 1s infinite;
    color: var(--color-grey-dark-1); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  border-bottom: var(--line);
  border-top: var(--line); }
  .list_item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
    .list_item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      color: var(--color-primary);
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex; }
  .recommend_friends {
    margin: auto; }
  .recommend_photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }
    .recommend_photo:not(:last-child) {
      margin-right: -1.5rem;
      border: 2px solid #fff; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  border-radius: 1.5rem 0 0 0;
  position: relative;
  overflow: hidden; }
  .review_text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review_user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0; }
  .review_photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border-radius: 2px solid #fff; }
  .review_user-box {
    margin-right: auto;
    margin-left: 2rem; }
  .review_user-name {
    font-weight: bolder;
    text-transform: uppercase; }
  .review_user-name, .review_user-date {
    font-size: 1rem; }
  .review_user-date {
    color: var(--color-grey-dark-3); }
  .review_rating {
    font-size: 2rem;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    line-height: 1;
    font-family: sans-serif;
    z-index: 1; }

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-shadow: var(--shadow-dark);
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-grey-light-2); }

.content-container {
  display: flex;
  justify-content: space-between; }

.sidebar {
  margin-top: 6rem;
  background: var(--color-grey-dark-1);
  height: auto;
  flex: 0 0 18%;
  color: #fff; }
  .sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }

.main-content {
  flex: 1;
  background: var(-color-grey-light-1); }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-3); }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  border-radius: .5rem; }

.user-reviews {
  flex: 1; }
